*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
    font-weight: 300;
}
img{
  width: 100%;
  height: 100%;
}
.logo{
  width: 200px;
  margin-top: -20px;
}
.card-width-style{
  width: 18rem;
}
.link-btn{
  border: none;
  background-color: transparent;
}
ul{
  list-style: none;

}
li{
  display: inline-block;
  padding: 12px;
}
.after-logo{
  display: flex;
  justify-content: space-around;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

 
}
.drop-down-menu{
  width: 150px;
}
.img-tag{
  height: 100%;
  width: 100%;
}
.image-div{
  height: 40px;
  width: 30px;
}
.size{
  height: 40px;
  width: 30px;
}
span{
  color: #797474;
    font-size: 13px;
}
.p-title{
  font-weight: 400;
}
.top-class{
  position: relative;
  height: 50vh;
}
.cener-div{
  margin: 0;
    position: absolute;
    top: 50%;
}
.search-select{
  width: 150px;
  height: 40px;
}
.start-image{
  background-size: contain;
  width: auto;
  height: 398px;
}
.start-link{
  color: #039be5;

   
}
.start-link:hover{
  color: hsla(0,0%,44.7%,.41);

    border-bottom: 1px solid #039be5;

}
.start-login{
  outline: none;
    border: none;
    padding: 15px;
    height: 50px;
    width: 161px;
    border-radius: 7px;
}
.custom-search-div{
  height: 50px;
    width: 100vw;
    background-color: #45333329;
    align-items: center;
    display: flex!important;
    justify-content: space-around!important;
}
.custom-search-div input{
  height: 30px;
  padding: 5px;
}
.custom-search-div button{
  height: 40px;
    width: 100px;
    margin-left: 10px;
}
.for-centre{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.main-content-p{
  font-size: 1.2rem;
    margin: 1.75rem 0 2rem;
    font-weight: 200;
    line-height: 28px;
    color: #727272;
    padding-right: 7%;
}
.middle-me{
   width: 60vw;
   height: 60vh;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}
.navbar.active{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 8;
  top: 0;
  background-color: #fff;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.control-search-width{
  width: 100px;
  height: 34px;
  padding: 7px;
}
.error{
  color: red;
    font-size: 10px;
    margin-bottom: 5px!important;
}
.right-div{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
/* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 410px;
    width: auto;
    border-radius: 24px;
}
.row.d-flex.justify-content-center{
  margin: 0 auto;
}
.d-flex-okk{
  margin:0 auto;
}
.in-res{
  width: 25x;
}
.login-error{
  position: absolute;
    left: 40%;
    top: 10%;
    font-size: 12px;
    color: red;
    /* background-color: #806464c2; */
}
.cancel{
  z-index: 1;
    color: black;
    /* background-color: yellow; */
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.edit{
  position: absolute;
  right: 50px;
  height: 30px;
  width: 30px;
  top: 5px;
  z-index: 1;
}


@media (max-width:1087px) { 
  
 .navbar{
    height: 100px!important;
    padding: 0;
  }
  .logo{
    width: 150px;
    margin-top: -9px;
  }
  .after-logo{
    justify-content: space-evenly;
  }
  .res{
    width: 100px;
    font-size: 12px;
    padding: 7px;
  }
  li{
    padding: 0 7px;
    font-size: 13px;
  }
  .control-search-width {
    width: 79px;
    
}
.in-res{
  width: 42px;
    font-size: 12px;
    padding: 4px 1px;
}
.res-btn{
  width: 70px;
    font-size: 13px;
}

}
.news-image{
  height: 250px;
    width: 100%!important;
    border-radius: 21px;
}
.news-image:hover{
  transform: scale(1.05);
}
.dropdown-toggle::after{
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .start-image{
    display: none;
  }
  .col-6{
    flex:0 0 100%;
    max-width: 100%;
  }
}